@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*

  {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
  }


  img
  {
    position: relative;
    max-width:150px;
    
  }


  section
  {
    position:relative;
    width:100%;
    min-height: 100vh;
    padding:100px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    background:#fff;
  }

  header
  {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    padding:20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* HEADER UL+LI METTIAMO IN FILA ORIZZONTALE MENÙ */
 header ul
 {
position: relative;
display: flex;
 }

 header ul li
 {
    list-style: none;
 }
 /* MENU BUTTONS*/
 header ul li:hover {
    background-color: #017143;
    border-radius: 18%;
    
    color: white;
  }
 /* DISTANZIAMENTO BUTTONS MENU */
 header ul li a 
{
    display: inline-block;
    color:#333;
    font-weight:400;
    margin-left:20px;
    text-decoration:none;
}

/* SPOSTA IMG1 A DESTRA */
.content
 {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* TEXT H2*/
.content .textBox
{
    position: relative;
    max-width: 600px;
}

.content .textBox  h2
{
   color:#333;
   font-size:4em;
   line-height: 1.4em;
   font-weight: 500;
}
/* SCRITTA VERDE STARBUCKS */
.content .textBox  h2 span
{
   color: #01714200;;
   font-size:1.2em;
   line-height: 1.4em;
   font-weight: 900;  
}
/*TESTO SOTTO STARBUCKS*/
.content .textBox  p
{
   color:#333(225, 22, 22);
}

/* TASTO LEARN MORE */
.content .textBox  a
{
   color:#333;
   display: inline-block;
   margin-top: 20px;
   padding: 8px 20px;
   background: #017143;
   color: #fff;
   border-radius: 40px;
   font-weight: 500;
   letter-spacing: 1px;
   text-decoration: none;
}



/* POSIZIONE IMG1*/
.content .imgBox 
{
   width: 600px;
   display: flex;
   justify-content: flex-end;
   padding-right: 50px;
   margin-top: 50px;
}
/*DIMENSIONE IMG1 */
.content .imgBox img
{
max-width: 340px;
}


.thumb
{
position: absolute;
left: 50%;
bottom:20px;
transform: translateX(-50%);
display: flex;
border-radius: 50%;
}

.thumb li
{
list-style: none;
display:inline-block;
margin: 0 20px;
cursor: pointer;
transition: 0 5s;

}
.thumb li:hover
{
    transform: translateY(-15px);
}

.thumb li img
{
    max-width: 60px;
}


/* LOGO SOCIALS*/
.sci
{
    position: absolute;
    top:50%;
    right:30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* HOVER ICONS SOCIALS */
 .sci li:hover {
        background-color: rgba(215, 187, 187, 0.495);
        border-radius: 40%;
      }


.sci li
{
    list-style: none;
    
}
/* ICONS SIZE */
.sci li a
{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.7    );
    filter: invert(1);
}

/* CERCHIO VERDE SFONDO A DESTRA*/
.circle
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #017143;
    clip-path: circle(600px at right 800px);  
}


/* STARBUCKS ANIMATION */
span 
{
    position: relative;
    font-size:14vw;
    color:#252839;
    -webkit-text-stroke: 0.3vw #383d52;
    text-transform: uppercase;

}
span::before
{
    content: 'STARBUCKS';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    color:#017142;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #01714200;
    overflow:hidden;
    animation: animate 6s linear infinite;

}
@keyframes animate 
{
    0%,10%,100%
    {
        width: 0;
    }
    70%,90%
    {
       width: 100%; 
    }
  }
 /* CAROUSEL */


 